:root {
    background-color: rgb(218, 212, 141);
    --redScarf: rgb(148, 39, 39);
    --yellowScarf: rgb(218, 212, 141);
}
body{
    margin: 0;
    padding: 0;
    
}
p {
    font-size: larger;
}

/* part one */

.header {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:  rgb(148, 39, 39);
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
}

.navigation li {
    display: inline;
    color: black;
    list-style-type: none;
    font-size: larger;

}   

.navigation a {
    color: black;
    font-weight: 600;
    text-decoration: none;

}

.navigation a:hover {
    opacity: 50%;
    color: rgb(197, 232, 24);
    text-decoration: overline underline;
}
/* part two */
section {
    background-color: var(--redScarf);
    
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: space-around;
}
h1{
    font-size: xx-large;
    text-shadow: 3px 3px 4px rgb(151, 131, 103);
}

.intro{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 50px;

}
section img {
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 15px 30px 30px;
    margin-right: 60px;

}

button{
  
  background-color: var(--yellowScarf);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 30px;
 
}
/* part three */

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.books {
    /* container */
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: space-around;
    margin-bottom: 2.5rem;
    
    
}
.booksPic { 
        width: 20%;
        background-color: var(--redScarf);
        min-width: 0px;
        border-radius: 5px;
        margin: 25px;
        min-width: 300px; 
        
}
.booksPic > img {
    width: 100%;
    
}
/* part three is started */
.quote {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-basis: 600px; */
    font-weight: 300;
    font-size: xx-large;
    font-family: "Sofia", sans-serif;
    text-shadow: 4px 4px 5px var(--yellowScarf);


}
.quote > p {
    align-self: flex-end;
    margin-right:60px;
    margin-top: -10px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    text-shadow: none;
}
/* info part is started */
.info {
    display: flex;
    flex-wrap: wrap;
    padding: .2rem 1rem;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    margin: 50px auto;
    background-color: var(--redScarf);
}
.info > button {
    justify-self:center;
    margin-right: 60px;
    border: none;


    
}

footer{
    background-color: black;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    padding:20px;
}
